/* Error: Expected whitespace.
 *     ,
 * 104 | @media screen and(max-width:376px) {
 *     |                  ^
 *     '
 *   scss\blocks\_hero.scss 104:18  @import
 *   scss\blocks\_blocks.scss 2:9   @import
 *   scss\main.scss 1:9             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected whitespace.\a     \2577 \a 104 \2502  @media screen and(max-width:376px) {\d\a     \2502                   ^\a     \2575 \a   scss\\blocks\\_hero.scss 104:18  @import\a   scss\\blocks\\_blocks.scss 2:9   @import\a   scss\\main.scss 1:9             root stylesheet";
}
