.hero__container {
    max-width: 1440px;
    height: 750px;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-image: url(/img/rasm2.jpg);
    background-size: cover;
}

.hero__lift__h2 {
    max-width: 536px;
    padding-top: 180px;
    margin-left: 20px;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    color: #FFFFFF;
}

.hero_lift_text {
    max-width: 420px;
    margin-left: 100px;
    margin-top: 40px;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}

.hero_button {
    margin-left: 100px;
    margin-top: 80px;
}

.hero_btn {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background: #FCB72B;
    padding: 15px 30px;
}

.hero__container::before {
    content: "";
    position: absolute;
    background-image: url(/img/strelka2.svg);
    width: 200px;
    height: 150px;
    top: 470px;
    background-repeat: no-repeat;
}

.hero__container::after {
    content: "";
    position: absolute;
    background-image: url(/img/strelka3.svg);
    width: 450px;
    height: 150px;
    top: 470px;
    left: 750px;
    background-repeat: no-repeat;
}

@media screen and (max-width:768px) {
    .hero__container {
        width: 100%;
        padding: 50px;
    }
    
    .hero__container::after {
        left: -95px;
        margin-top: 220px;
        
    }
    
    .hero__section {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .container {
        width: 768px;
    }
    
    .hero__container::before {
        display: none;
    }
    
    .hero__lift__h2 {
        text-align: center;
        padding-right: 108px;
    }
    
    .hero_lift_text {
        margin-left: 152px;
    }
    
    .hero_button {
        margin-left: 275px;
        margin-top: 35px;
    }
}

@media screen and(max-width:376px) {
    .hero {
        width: 100%;
        padding-left: 40px;
    }
    
    .hero__container {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .hero__container::after{
        margin-left: -190px;
        margin-top: 187px;
    }
    .container {
        width: 375px;
    }
    
    .hero__lift__h2 {
        max-width: 400px;
        font-size: 40px;
        line-height: 40px;
        margin: 0 auto;
    }
    
    .hero_lift_text {
        max-width: 358px;
        margin: 0 auto;
        text-align: center;
        padding-right: 57px;
        padding-top: 30px;
    }
    .hero_button {
        margin-left: 85px;
        margin-top: 30px;
    }
}
