.scoot__lift{
    margin-left: 200px;
    margin-top: -200px;
}
.scoot__right{
    margin-left: 787px;
    margin-top: -60px;
}
.scoot__lift__img{
    margin-left: -177px;
}
.scoot__title{
    color: white;
}